<!-- <div class="container-fluid">

    <div class="row">
        <div class="col-sm-4" style="padding: 0;">
            <app-contactinfo-list></app-contactinfo-list>

        </div>
        <div class="col-sm-4" style="padding: 0;">
            <quicklinks-list></quicklinks-list>
        </div>
        <div class="col-sm-4" style="padding: 0;">
            <app-gallery-list></app-gallery-list>
        </div>
    </div>
    
</div> -->



<!-- 
<hr style="margin: 0; opacity: 0.8;">
<app-footer></app-footer>
<app-create-quicklink></app-create-quicklink> -->



<!-- <div class="container" >
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                  </div>
                 
                </div>
              </nav>

    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            
            <li>
                <a routerLinkActive="active" routerLink="quicklinks">QuickLinks</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="createquicklinks">CreateQuickLinks</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div> -->







<ul>
    <li><a routerLink="" href="#home">Home</a></li>
    <li><a routerLinkActive="active" routerLink="quicklinks">QuickLinks</a></li>
    <li><a routerLinkActive="active" routerLink="createquicklinks">CreateQuickLinks</a></li>
    <li><a routerLinkActive="active" routerLink="contactinfo">contactinfo</a>        </li>
    <li><a routerLinkActive="active" routerLink="createcontactinfo">createcontactinfo</a> </li>
</ul>

<div style="margin-left:25%;padding:1px 16px;">

</div>
<router-outlet></router-outlet>