<h2>{{title}}</h2>
<div class="main" [style]='mainStyle'>
    <!-- Portfolio Gallery Grid -->
    <div class="row" >
      <div class="column">
        <div class="content">
          <img [src]="itemImageUrl1" alt="Mountains" >
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img [src]="itemImageUrl4" alt="Lights" >
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img [src]="itemImageUrl2" alt="Nature" >
        </div>
      </div>
    </div>
   
    <div class="row">
        <div class="column">
          <div class="content">
            <img [src]="itemImageUrl3" alt="Mountains" >
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img [src]="itemImageUrl2" alt="Lights" >
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img [src]="itemImageUrl1">
          </div>
        </div>
    </div>
    <a class="link" href="#">View More...</a>
</div><br>
<app-binding></app-binding>
