

<div id="abd">
    <div class="form-group col-md-4">
        <label for="firstName">FirstName</label>
        <input type="text" class="form-control" id="firstName"  placeholder="Enter firstName">
        <br>
    </div>
    <div class="form-group col-md-4">
            <label for="lastName">LastName</label>
            <input type="text" class="form-control" id="lastName"  placeholder="Enter lastName">
            <br>
        </div>
        <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
               <br>
              </div>
    <div class="form-group col-md-4">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-danger col-md-2">Signup</button>
</div> 