<div class="header">
    <a (click)="onmain()" style="padding: 0;"><img src=".//Logo.png" alt="School_logo" class="logo"></a>
    <div class="header-right">
      <a (click)="onHome()">Home</a>
      <!-- <button (click)="onHome()"> Home</button> -->
      <a href="#IRP">IRP</a>
      <a href="#Corporate_Training">Corporate Training</a>
      <a href="#Consulting">Consulting</a>
      <a href="#Clients">Clients</a>
      <a href="#Contact">Contact Us</a>
    </div>
  </div>
  <router-outlet></router-outlet>