/* You can add global styles to this file, and also import other style files */
body {
    background-color: #202020;
    padding: 0px;
    font-family: Arial;
    overflow: hidden;
  }
  h2{
    color: aliceblue;
    padding-left: 35%;
  }
