<div class="container">
<h3>{{title}}</h3>
<div class="row">
        <div class="column">
                <gallery-Item [Url]="'assets/pic1.jpg'" [alter]="'Mountains'" ></gallery-Item>
        </div>
        <div class="column">
                <gallery-Item [Url]="'assets/pic6.jpg'" [alter]="'Mountains'" ></gallery-Item>
        </div>
        <div class="column">
                <gallery-Item [Url]="'assets/pic5.jpg'" [alter]="'Mountains'" ></gallery-Item>
        </div>
 </div>

 <div class="row">
        <div class="column">
                <gallery-Item [Url]="'assets/pic5.jpg'" [alter]="'Mountains'" ></gallery-Item>
        </div>
        <div class="column">
                <gallery-Item [Url]="'assets/pic2.jpg'" [alter]="'Mountains'" ></gallery-Item>
        </div>
        <div class="column">
                <gallery-Item [Url]="'assets/pic1.jpg'" [alter]="'Mountains'" ></gallery-Item>
        </div>
 </div>


<a class="link" href="#">View More...</a>
</div>